pkgbase = gatemon-git
	pkgdesc = Script to monitor the gateway servers of a Freifunk mesh network for outages
	pkgver = r62.dfd5c6b
	pkgrel = 1
	url = https://github.com/FreifunkBremen/gatemon
	arch = any
	license = custom
	depends = curl
	depends = monitoring-plugins
	depends = bind-tools
	backup = etc/gatemon.cfg
	source = gatemon::git+https://github.com/FreifunkBremen/gatemon.git
	sha256sums = SKIP

pkgname = gatemon-git

