[Unit]
Description=gatemon (Check all services of every gateway)
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/gatemon/gatemon.sh
TimeoutStopSec=300
KillMode=process
KillSignal=SIGINT
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW

[Install]
WantedBy=multi-user.target
