[Unit]
Description=Check all vpn exists (gatemon)
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/check-all-vpn-exists
TimeoutStopSec=300
KillMode=process
KillSignal=SIGINT
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW

[Install]
WantedBy=multi-user.target
